name: geo_sensors_app
description: A Flutter application for geolocation and sensors
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  geolocator: ^12.0.0
  geocoding: ^3.0.0
  sensors_plus: ^7.0.0
  flutter_compass: ^0.7.0
  permission_handler: ^11.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true